body {
    min-height: 75rem;
    padding-top: 4.5rem;
    padding-left: 1rem;
}

h1 {
    color: red;
}

.bookcover {
    height: 300px;
    width: auto;
}

.container {
    padding-left: 1rem;
    margin-left: 1rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  background: black;
  height: 40px;
}

.navbar-section{
  padding: 15px;
}
